[Desktop Entry]
Version=1.0
Name=Unipro Calibration
Exec=bash -c '"$(dirname "$1")"/bin/Release/Calibration21' dummy %k 
Path=/home/cirauqui/OpenCV/Calibration21/
Icon=/home/cirauqui/OpenCV/Calibration21/bin/icon.png
Terminal=true
Type=Application
Categories=Utility;Application;Development;
Name[en_US]=Calibration
